<% if current_user %> 
<h1>Welcome <%= current_user.first_name %></h1>
<% else %>
<h1>Welcome</h1>
<% end %> 


<div id="herosection" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
      <%= image_tag %>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#herosection" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#herosection" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod soluta sapiente facilis eius iusto fuga tempora hic quasi reiciendis, ratione animi vero maxime consectetur laudantium, sequi inventore, reprehenderit ipsum voluptate?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed corrupti, quo nesciunt fugiat veritatis temporibus iure. Qui voluptatibus expedita ex quam a id, vero error ut, eaque tenetur repellat?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos autem! Reiciendis, ipsam ducimus doloremque animi neque eos magnam optio expedita tenetur commodi id? Id quo ex nobis? Repudiandae, qui.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod soluta sapiente facilis eius iusto fuga tempora hic quasi reiciendis, ratione animi vero maxime consectetur laudantium, sequi inventore, reprehenderit ipsum voluptate?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed corrupti, quo nesciunt fugiat veritatis temporibus iure. Qui voluptatibus expedita ex quam a id, vero error ut, eaque tenetur repellat?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos autem! Reiciendis, ipsam ducimus doloremque animi neque eos magnam optio expedita tenetur commodi id? Id quo ex nobis? Repudiandae, qui.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod soluta sapiente facilis eius iusto fuga tempora hic quasi reiciendis, ratione animi vero maxime consectetur laudantium, sequi inventore, reprehenderit ipsum voluptate?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed corrupti, quo nesciunt fugiat veritatis temporibus iure. Qui voluptatibus expedita ex quam a id, vero error ut, eaque tenetur repellat?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos autem! Reiciendis, ipsam ducimus doloremque animi neque eos magnam optio expedita tenetur commodi id? Id quo ex nobis? Repudiandae, qui.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod soluta sapiente facilis eius iusto fuga tempora hic quasi reiciendis, ratione animi vero maxime consectetur laudantium, sequi inventore, reprehenderit ipsum voluptate?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed corrupti, quo nesciunt fugiat veritatis temporibus iure. Qui voluptatibus expedita ex quam a id, vero error ut, eaque tenetur repellat?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos autem! Reiciendis, ipsam ducimus doloremque animi neque eos magnam optio expedita tenetur commodi id? Id quo ex nobis? Repudiandae, qui.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod soluta sapiente facilis eius iusto fuga tempora hic quasi reiciendis, ratione animi vero maxime consectetur laudantium, sequi inventore, reprehenderit ipsum voluptate?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed corrupti, quo nesciunt fugiat veritatis temporibus iure. Qui voluptatibus expedita ex quam a id, vero error ut, eaque tenetur repellat?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos autem! Reiciendis, ipsam ducimus doloremque animi neque eos magnam optio expedita tenetur commodi id? Id quo ex nobis? Repudiandae, qui.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod soluta sapiente facilis eius iusto fuga tempora hic quasi reiciendis, ratione animi vero maxime consectetur laudantium, sequi inventore, reprehenderit ipsum voluptate?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed corrupti, quo nesciunt fugiat veritatis temporibus iure. Qui voluptatibus expedita ex quam a id, vero error ut, eaque tenetur repellat?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos autem! Reiciendis, ipsam ducimus doloremque animi neque eos magnam optio expedita tenetur commodi id? Id quo ex nobis? Repudiandae, qui.
</p>