<h1>toys#show</h1>

      <div class="container">
            <div class="">
                  <div class="card bg-dark mb-2">
                        <div class="card-header">
                        <%= @toy.name%>
                        </div>
                        <div class="card-body">
                        <p class="card-text">
                        <%= @toy.description%>
                        </p>
                        </div>
                  </div>
            </div>
      </div>

      <%= link_to 'Back', toys_path, class: "btn btn-jindigo" %>